@import url('https://fonts.googleapis.com/css?family=DM+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:300,400,500,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body { 
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #282a36;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  color: #096B72;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  color: #023d4d;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #023d4d;
  font-size: 1.3em !important;
}

h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #003366;
}

.remark-code,
.remark-inline-code{ 
  font-family: 'DM Mono', monospace;
}

@media print {
  body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
